*{
    background-color: #A2CDFA;
}
h1 {
    color: #023061;
    text-align: center;
    font-family: "Arial";
}

#search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    border-radius: 50px;
    height: 40px;
    border: 1px solid #dddddd;
    outline: none;
    padding-left: 40px;
}

input:hover {
    box-shadow: 0px 1px 3px rgb(192, 185, 185);
}

.buttons {
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.container {
    text-align: center;
}