<!DOCTYPE html>
{%load static%}

<html>
	<head>
		<title>Football Stats</title>
		<link rel="stylesheet" type="text/css"
		href="{%static '/css/style.css'%}">
	</head>
	<form action = "search" method = "get">
		<ul>
			<li>
				<div class="box">
				<form action = "search/search" method = "get">
					<i class="fas fa-search">
						<svg viewBox="0 0 512 512" width="20" height="20" fill="#FFFFFF" title="search">
						<path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" />
					  </svg>
					</i>
					<input type="text"  placeholder="Enter player name" class="input" name="player_name" onmouseout="this.value = ''; this.blur();">
				</form>
			</div>
			<li id = "home-button"><a href = "/football/allPlayers">
				<svg viewBox="0 0 120 120"  width = "50" height = "50" fill="#FFFFFF"><g><path class="st0" d="M61.44,0L0,60.18l14.99,7.87L61.04,19.7l46.85,48.36l14.99-7.87L61.44,0L61.44,0z M18.26,69.63L18.26,69.63 L61.5,26.38l43.11,43.25h0v0v42.43H73.12V82.09H49.49v29.97H18.26V69.63L18.26,69.63L18.26,69.63z"/></g></svg>
			</a></li>
		</ul>
	</form>
	
	<div class="passing">
		<h1>{{name}}</h1>

		<h2>{{passing_career.0}}</h2>


		<table>
			<tr><th>Year</th>
					{%for label in passing_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in passing_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>


		<h2>{{rushing_career.0}}</h2>


		<table>
			<tr><th>Year</th>
					{%for label in rushing_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in rushing_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>


		<h2>{{receiving_career.0}}</h2>
		
		<table>
			<tr><th>Year</th>
					{%for label in receiving_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in receiving_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>

		<h2>{{defensive_career.0}}</h2>
		
		<table>
			<tr><th>Year</th>
					{%for label in defensive_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in defensive_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>



		<h2>{{scoring_career.0}}</h2>


		<table>
			<tr><th>Year</th>
					{%for label in scoring_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in scoring_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>
		<br>
	</div>
</html>
	<!-- 
		while there is another season
			<h2>season_type</h2>
			
			<table>
			<tr><th>Year</th>
					{%for label in season_type_labels%}
							<th> {{ label }}</th>
					{% endfor %}
			{% for i in season_item %}
					<tr><td>{{ i.year }}</td>
					{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
					</tr>
			{% endfor %}
			</table>








	
	 
	 <div class="passing">
		<h1>{{ player.name }}</h1>
		<br>
	
		<h2>Passing</h2>
		
		<table summary="passing_table">
		<tr><th>Year</th>
				
		{% for i in passing_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
		</table>
		<br>
		 -->



<!--
	<div class="passing">
		<h1>{{ name }}</h1>
		<br>
	
		<h2>Passing</h2>
		
		<table summary="passing_table">
		<tr><th>Year</th>
				{%for label in passing_labels%}
						<th> {{ label }}</th>
				{% endfor %}
		{% for i in passing_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
		</table>
		<br>

	

	<br>
	<h2>Rushing</h2>

	<table summary="rushing_table">
		<tr><th>Year</th>
				{%for label in rushing_labels%}
						<th> {{ label }}</th>
				{% endfor %}
		{% for i in rushing_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
	</table>

	<br>
	<h2>Receiving</h2>
	<table summary="receiving_table">
		<tr><th>Year</th>
				{%for label in receiving_labels%}
						<th> {{ label }}</th>
				{% endfor %}
		{% for i in receiving_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
	</table>

	<h2>Defensive</h2>
	<table summary="defensive_table">
		<tr><th>Year</th>
				{%for label in defensive_labels%}
						<th> {{ label }}</th>
				{% endfor %}
		{% for i in defensive_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
	</table>

	<h2>Scoring</h2>
	<table summary="scoring_table">
		<tr><th>Year</th>
				{%for label in scoring_labels%}
						<th> {{ label }}</th>
				{% endfor %}
		{% for i in scoring_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
	</table>

	<br>
</div>
</html>
-->