<!DOCTYPE html>
{%load static%}

<html>
	<head>
		<title>Football Stats</title>
		<link rel="stylesheet" type="text/css"
		href="{%static '/css/style.css'%}">
	</head>
	<form action = "search" method = "get">
		<ul>
			<li><a href = "/football/search">Search</a></li>
			<li id = "past_players"><a href = "/football/allPlayers">Player Database</a></li>
		</ul>
	</form>
	
	<div class="passing">
		<h1>{{name}}</h1>

		<h2>{{passing_career.0}}</h2>


		<table>
			<tr><th>Year</th>
					{%for label in passing_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in passing_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>


		<h2>{{rushing_career.0}}</h2>


		<table>
			<tr><th>Year</th>
					{%for label in rushing_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in rushing_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>


		<h2>{{receiving_career.0}}</h2>
		
		<table>
			<tr><th>Year</th>
					{%for label in receiving_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in receiving_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>

		<h2>{{defensive_career.0}}</h2>
		
		<table>
			<tr><th>Year</th>
					{%for label in defensive_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in defensive_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>



		<h2>{{scoring_career.0}}</h2>


		<table>
			<tr><th>Year</th>
					{%for label in scoring_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in scoring_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>
		<br>
	</div>
</html>
	<!-- 
		while there is another season
			<h2>season_type</h2>
			
			<table>
			<tr><th>Year</th>
					{%for label in season_type_labels%}
							<th> {{ label }}</th>
					{% endfor %}
			{% for i in season_item %}
					<tr><td>{{ i.year }}</td>
					{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
					</tr>
			{% endfor %}
			</table>








	
	 
	 <div class="passing">
		<h1>{{ player.name }}</h1>
		<br>
	
		<h2>Passing</h2>
		
		<table summary="passing_table">
		<tr><th>Year</th>
				
		{% for i in passing_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
		</table>
		<br>
		 -->



<!--
	<div class="passing">
		<h1>{{ name }}</h1>
		<br>
	
		<h2>Passing</h2>
		
		<table summary="passing_table">
		<tr><th>Year</th>
				{%for label in passing_labels%}
						<th> {{ label }}</th>
				{% endfor %}
		{% for i in passing_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
		</table>
		<br>

	

	<br>
	<h2>Rushing</h2>

	<table summary="rushing_table">
		<tr><th>Year</th>
				{%for label in rushing_labels%}
						<th> {{ label }}</th>
				{% endfor %}
		{% for i in rushing_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
	</table>

	<br>
	<h2>Receiving</h2>
	<table summary="receiving_table">
		<tr><th>Year</th>
				{%for label in receiving_labels%}
						<th> {{ label }}</th>
				{% endfor %}
		{% for i in receiving_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
	</table>

	<h2>Defensive</h2>
	<table summary="defensive_table">
		<tr><th>Year</th>
				{%for label in defensive_labels%}
						<th> {{ label }}</th>
				{% endfor %}
		{% for i in defensive_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
	</table>

	<h2>Scoring</h2>
	<table summary="scoring_table">
		<tr><th>Year</th>
				{%for label in scoring_labels%}
						<th> {{ label }}</th>
				{% endfor %}
		{% for i in scoring_list %}
				<tr><td>{{ i.year }}</td>
				{% for j in i.stats %} <td>  {{j}}  </td> {% endfor %}
				</tr>
		{% endfor %}
	</table>

	<br>
</div>
</html>
-->