<!DOCTYPE html>
{%load static%}


<html lang="en">
    <head>
		<title>All Players</title>
		<link rel="stylesheet" type="text/css"
		href="{%static '/css/style.css'%}">
	</head>

	
	<form action = "search" method = "get">
		<ul>
			<li><a href = "/football/search">Search</a></li>
		</ul>
	</form>

    {%for label in player %}
		<h1><a href = "pull/pull?player_name={{label.name}}">{{ label.name }}</a></h1>
	{% endfor %}

    {%for i in player.passing_career %}
		<h1> {{ i.0 }}</h1>
	{% endfor %}

    </body>
</html>