<!DOCTYPE html>
{%load static%}

<html>
	<head>
		<title>Football Stats</title>
		<link rel="stylesheet" type="text/css"
		href="{%static '/css/style.css'%}">
	</head>
	<form action = "search" method = "get">
		<ul>
			<li id = "past_players"><a href = "/football/allPlayers">Player Database</a></li>
			<li><input name = "player_name" id="search-bar" type="text" /></li>
			<li><button class="buttons">Search</button></li>
		</ul>
	</form>
	<div class="passing">
		<h1>{{name}}</h1>

		<h2>{{passing_career.0}}</h2>


		<table>
			<tr><th>Year</th>
					{%for label in passing_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in passing_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>


		<h2>{{rushing_career.0}}</h2>


		<table>
			<tr><th>Year</th>
					{%for label in rushing_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in rushing_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>


		<h2>{{receiving_career.0}}</h2>
		
		<table>
			<tr><th>Year</th>
					{%for label in receiving_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in receiving_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>

		<h2>{{defensive_career.0}}</h2>
		
		<table>
			<tr><th>Year</th>
					{%for label in defensive_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in defensive_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>



		<h2>{{scoring_career.0}}</h2>


		<table>
			<tr><th>Year</th>
					{%for label in scoring_career.1 %}
							<th> {{ label }}</th>
					{% endfor %}


					{% for i in scoring_career.2 %}
					<tr><td>{{ i.0 }}</td>
					{% for j in i.1 %} <td>  {{j}}  </td> {% endfor %}
					</tr>
					{% endfor %}
					
		</table>
		<br>
	</div>
</html>